/* style.css */

/* Global Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin-top: 40px;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
}

/* Button Styles */
button {
  background-color: #ffa500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff9000;
}

/* Page-Specific Styles */
#consoleOutput {
  position: fixed;
  top: 85px;
  right: 20px;
  width: 300px;
  height: 650px;
  padding: 10px;
  background-color: #222;
  border: 2px solid #ffa500;
  overflow-y: auto;

  /* Customize scrollbar for WebKit-based browsers (Chrome, Edge, Safari) */
  scrollbar-color: #ffa500 #222; /* Thumb and track colors */
  scrollbar-width: thin; /* Width of the scrollbar */

  /* Customize scrollbar for Firefox */
  scrollbar-color: #ffa500 #222; /* Thumb and track colors */
}

.cl {
  color: #ffa500;
  margin: 0;
}

.onpage {
  color: #facf97;
}

/*  */

/* Customize scrollbar for WebKit-based browsers (Chrome, Edge, Safari) */
#consoleOutput::-webkit-scrollbar {
  width: 10px;
}

#consoleOutput::-webkit-scrollbar-track {
  background-color: #222;
}

#consoleOutput::-webkit-scrollbar-thumb {
  background-color: #ffa500;
  border-radius: 5px;
}

/* Customize scrollbar for Firefox (Gecko-based browsers) */
#consoleOutput {
  scrollbar-width: thin;
  scrollbar-color: #ffa500 #222;
}
